

section {
    position:relative;
    padding-top:70px;
    padding-bottom:70px;
    font-size:14px;
    min-height:400px;
    width:100%;
}

section h4 {
    text-align:left;
    font-size:1.78em;
    color:#212121;
}

section h4 strong {
    font-weight:700;
    color:#ff9800;
    
}

section p {
    color:#5d5d5d;
    font-size:1em;
    font-weight:400;
    line-height:2.14285714em;
}

section>.section-title {
    background:#f7fafb;
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
    margin-bottom:70px;
    margin-top:-70px;
}

section>.section-title>h3 {
    font-size:2.42857143em;
    color:#192f36;
}

.section-feature h5 {
    padding-top: 12px;
    margin-left: 10px;
    vertical-align: middle;
    float: left;
    font-size:1.2em;
    color:#2196f3;
    font-weight:600;
}

.section-feature img {
    float:left;
}

.section-feature p {
    padding-top:10px;
    clear:both;
}

.section-calendar h5 {
    text-align:center;
}

.section-calendar h6 {
    text-align:center;
    color:#5c5c5c;
    font-weight:normal;
}

/*Forcing collapsible styles*/

.collapsible-header {
    display: block;
    cursor: pointer;
    line-height: 2rem;
    padding: 0 1rem;
    background-color: #5d5d5d;
    border-bottom: 0px;
    padding-top: 8px;
    text-align: center;
    color: white;
    font-size: 1em;
    font-weight: 500;
    margin: 15px auto 0;
}

.collapsible-header.active {
    background-color:#8bc8f7;
}

.collapsible {
    box-shadow:none;
    border:none;
    border-bottom:1px solid #ddd;
}

.collapsible-body {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding:15px;
}

.collapsible-body table thead th {
    font-size:1em;
    color:#a4a4a4;
    font-weight:400;
    text-shadow:none;
    padding-bottom: 5px;
}

.collapsible-body table tbody tr  {
    border-bottom:1px solid #e7e7e7;
}

.collapsible-body table tbody tr td {
    padding-top:15px;
    padding-bottom:15px;
}

.collapsible-body table tbody tr:last-child {
    border-bottom:0px;
}


.report-example {
    position:relative;
    width:100%;
    padding-left:15px;
    padding-right:15px;
    text-align:center;
    margin-bottom:20px;
}

.report-example .report-icon {
    display:block;
    width:74px;
    margin:auto auto 10px;
}

.report-example a {
    font-size:1em;
    color:#212121;
    font-weight:500;
    text-decoration:underline;
}

.section-examiners .examiner {
    display:block;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
    border:1px solid #e7e7e7;
    border-radius:4px;
    margin-bottom:20px;
}

.section-examiners .examiner:hover {
    text-decoration:none;
    border-color:#039be5;
}

.centered {
    display:block;
    margin:auto;
}


.td, th {
    vertical-align: top !important;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom:5px
}